In [57]:
company_detail_list = {
    'Company 1': {
        'name': 'Company 1',
        'domain': 'Retail',
        'clients': [
            {
                'name': 'acme.inc',
                'country': 'united states'
            },
            {
                'name': 'Wayne.co',
                'country': 'united states'
            }
        ]
    },
    'Company 2': {
        'name': 'Company 2',
        'domain': 'Construction',
        'clients': [
            {
                'name': 'Tesla',
                'country': 'united states'
            },
            {
                'name': 'Japan Airlines',
                'country': 'japan'
            },
            {
                'name': 'Indofood',
                'country': 'indonesia'
            }
        ]
    },
    'Company 3': {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'clients': [
            {
                'name': 'Petronas',
                'country': 'malaysia'
            },
            {
                'name': 'VW Group',
                'country': 'germany'
            },
            {
                'name': 'IBM',
                'country': 'united states'
            },
            {
                'name': 'Mitsubishi',
                'country': 'japan'
            }
        ]
    }
}
def sort_company():
    sorted_company = sorted(
        [{'name': data['name'], 'domain': data['domain']} 
         for key, data in company_detail_list.items()],
        key=lambda x:x ['domain'],
        reverse=True
    )
    for company in sorted_company:
        print(f"Name: {company['name']}, Domain: {company['domain']}")

sort_company()

Name: Company 1, Domain: Retail
Name: Company 3, Domain: Healthcare
Name: Company 2, Domain: Construction

In [73]:
company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }
def get_company_domain():
    for company, details in company_detail_list.items():
        num_clients = len(data['clients'])
        print(f"{data['name']}: {data['domain']}, relation: {num_clients} clients")

get_company_domain()

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

In [59]:
company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }
def get_employees(employee_detail_list, company_detail_list):
    employees_with_domain = []
           
    for employee_name, employee_details in employee_detail_list.items():
        company_name = employee_details['company']
        domain = company_detail_list[company_name]['domain']
        
        employee_info = {
            "full_name": employee_details['full_name'],
            "company": company_name,
            "domain": domain
        }
        
        employees_with_domain.append(employee_info)
        
    return employees_with_domain

employees_with_domain = get_employees(employee_detail_list, company_detail_list)

print(employees_with_domain)

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

In [63]:
company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }
employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }
def get_employees_by_company(company_detail_list, employee_detail_list):
    companies_with_employees = []

    # Create a dictionary to store employees for each company
    company_employees = {company['name']: [] for company in company_detail_list.values()}

    # Populate company_employees with employees
    for employee, details in employee_detail_list.items():
        company_employees[details['company']].append(details['full_name'])

    # Create the expected return format
    for company_name, employees in company_employees.items():
        companies_with_employees.append({"company": company_name, "employees": employees})

    # Add companies with no employees
    for company_name in company_detail_list.keys():
        if company_name not in company_employees:
            companies_with_employees.append({"company": company_name, "employees": []})

    return companies_with_employees

# Call the function with your company_detail_list and employee_detail_list
result = get_employees_by_company(company_detail_list, employee_detail_list)
print(result)

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]

In [71]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
data_startup = pd.DataFrame({
    'R&D Spend': [1000.23, float('nan'), 76253.86, 63408.86, 28754.33, 119943.24, 134615.46],
    'Administration': [124153.04, 110594.11, 113867.30, 129219.61, 118546.05, 156547.42, 147198.87],
    'Marketing Spend': [1903.93, 229160.95, 298664.47, 46085.25, 172295.67, 256512.92, 127716.82],
    'State': ['New York', 'Florida', 'California', 'California', 'California', 'Florida', 'California'],
    'Profit': [64926.08, 146121.95, 118474.03, 97427.84, 78239.91, 132602.65, 156122.51]
})


data_startup['R&D Spend'].fillna(data_startup['R&D Spend'].mean(), inplace=True)

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), ['State'])], remainder='passthrough')
data_startup = pd.DataFrame(ct.fit_transform(data_startup))

data_startup.columns = ['State_New York', 'State_Florida', 'State_California', 'R&D Spend', 'Administration', 'Marketing Spend', 'Profit']

data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05


scaler = StandardScaler()
data_startup[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Tax']] = scaler.fit_transform(data_startup[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Tax']])



data_startup.index += 1

print(data_startup)

   State_New York  State_Florida  State_California  R&D Spend  Administration  \
1             0.0            0.0               1.0  -1.603505       -0.277473
2             0.0            1.0               0.0   0.000000       -1.125502
3             1.0            0.0               0.0   0.128699       -0.920784
4             1.0            0.0               0.0  -0.166970        0.039410
5             1.0            0.0               0.0  -0.964655       -0.628156
6             0.0            1.0               0.0   1.134351        1.748600
7             1.0            0.0               0.0   1.472079        1.163905

   Marketing Spend    Profit       Tax
1        -1.571128 -1.519197 -1.717386
2         0.662403  1.024661  0.662693
3         1.345499  0.158454  1.026926
4        -1.136905 -0.500921 -1.057588
5         0.103519 -1.102077 -0.279959
6         0.931224  0.601102  1.145224
7        -0.334612  1.337977  0.220091